body {
    background-color: aqua;
    
}

.container,
 header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   max-width: 500px;
   margin: 0 auto;
}

.clock {
    align-items: center;
    justify-content: center;
}


img {
    height: auto;
    width: 200px;
}